{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}

    <style>
        .horizontal_navbar_wrapper {
            height: auto;
            width: 13%;
            justify-content: center;
            box-shadow: 0px 0px 2px 0px rgba(156, 156, 156, 1);
            position: relative;
            text-align: center;
        }

        .project-add-trigger {
            width: 100%;
        }

        .strap {
            height: 10px;
            width: 100%;
            margin-top: 0;
        }

        .small-strap {
            height: 3px;
            width: 35%;
        }

        .bottom-content-wrapper {
            position: absolute;
            bottom: 3vh;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .layout {
            display: flex;
        }

        .task-add-trigger {
            width: 150px;
        }

        .content-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 90px;
            padding-top: 0px;
            min-height: 100vh;

        }

        .content {
            padding-top: 160px;
            width: 100%;
        }

        .not-selected-project {
            width: 30%;
            display: flex;
            justify-content: center;
        }

        .projectheader {
            width: 85%;
            height: 140px;
            position: absolute;
            box-shadow: 0 3px 3px 0px #c3c3c3;

        }

        .project-name {
            margin-top: 1px;
            margin-left: 56px;
            font-size: 47px;
        }

        .project-name-label {
            margin-top: 25px;
            margin-left: 63px;
            margin-bottom: 1px;
        }

        .data-form {
            width: 300px;
        }

    </style>
    <div class="layout">

        <div class="horizontal_navbar_wrapper">
            <span class="badge badge-secondary mt-0 strap"> </span>
            <p class="text-muted mt-2 mb-1">Workspace</p>
            <h3 class="mb-0">{{ app.session.get('currentWorkspaceName') }}</h3>
            <a class="" href="/main">BACK</a><br>
            <span class="badge badge-secondary  small-strap"> </span>
            <p class="text-muted mb-1 mt-1">User</p>
            <h4 class="mt-0">{{ app.User.name }}</h4>

            <!-- add-project-modal trigger -->
            <div class="text-center">
                <button type="button" class="btn btn-primary project-add-trigger mt-4 mb-3" data-toggle="modal"
                        data-target="#addModal">CREATE PROJECT
                </button>
                <p class="text-muted">Projects</p>
                <span class="badge badge-secondary mb-3 small-strap">  </span>
                {{ render(controller("App\\Controller\\ProjectController::showProjects")) }}
            </div>

            <!-- add-project-modal -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create project</h5>
                        </div>
                        <div class="modal-body">
                            {{ form_start(project_form) }}
                            {{ form_row(project_form.project) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ form_widget(project_form.create, { 'label': 'Create' , 'attr' : {'class' : 'btn btn-primary'}}) }}
                            {{ form_end(project_form) }}

                        </div>
                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-secondary project-add-trigger mt-4 mb-3" data-toggle="modal"
                    data-target="#addUserModal">add member
            </button>
        </div>

        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
                    </div>
                    <div class="modal-body">
                        {{ form_start(user_form) }}
                        <p>Keep in mind that the member must be signed up.</p>
                        {{ form_row(user_form.users) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form_widget(user_form.addUser, { 'label': 'add member' , 'attr' : {'class' : 'btn btn-primary'}}) }}
                        {{ form_end(user_form) }}

                    </div>
                </div>
            </div>
        </div>
        {% if app.session.get('currentProject') %}

            <div class="content-wrapper">
                <div class="projectheader">
                    <p class="text-muted project-name-label">Project</p>
                    <h1 class="project-name">{{ app.session.get('currentProjectName') }} </h1>
                    <div style="padding-left: 90%">
                        <a data-toggle="modal" class="btn btn-danger btn-sm ml-2" style="color:white"
                           data-target="#removeProjectModal">Delete project</a>
                    </div>


                    <!-- remove-modal -->
                    <div class="modal fade" id="removeProjectModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                </div>
                                <div class="modal-body">
                                    <a class="blockquote mt-3 mb-3">This action will remove project and all tasks that
                                        it contains</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a class="btn btn-primary"
                                       href="projects/deleteProject/{{ app.session.get('currentProject') }}">DELETE</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="content">

                    <div class="">
                        <button type="button" class="btn btn-primary task-add-trigger mt-4 mb-3" data-toggle="modal"
                                data-target="#addTaskModal">CREATE TASK
                        </button>
                    </div>


                    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(task_form) }}
                                    {{ form_row(task_form.task) }}
                                    {{ form_row(task_form.description) }}
                                    {{ form_row(task_form.contractor) }}

                                    {{ form_row(task_form.priority) }}
                                    {{ form_row(task_form.status) }}
                                    <div class="data-form">{{ form_row(task_form.dueDate) }}</div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {{ form_widget(task_form.addTask, { 'label': 'create task' , 'attr' : {'class' : 'btn btn-primary'}}) }}
                                    {{ form_end(task_form) }}

                                </div>

                            </div>
                        </div>
                    </div>
                    {{ render(controller("App\\Controller\\ProjectController::showTasks")) }}
                </div>
            </div>
        {% else %}
            <div class="content-wrapper">
                <div class="content">
                    <div class="not-selected-project">
                        <h1>Select or create project</h1>
                        <div class="text-center">

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}