{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}

    <style>

        .priority-pointer-green {
            font-size: 10px;
            color: #00a6de;
        }

        .priority-pointer-yellow {
            font-size: 10px;
            color: #9500ec;
        }

        .col {
            border-top: 0px;
        }

        .priority-pointer-red {
            font-size: 10px;
            color: red;
        }

        th {
            color: white;
            font-size: 14px;

        }

        td:nth-child(even) {
            background-color: white;
        }

        td:nth-child(odd) {
            background-color: white;
        }

        .card-header {
            background-color: whitesmoke;
        }

        .card-body {
            padding: 0px;
            justify-content: center;

        }

        .card {
            box-shadow: none;

        }

        .table th {
            border-top-width: 0px;
        }

        .table {
            box-shadow: 0 0 5px #7a7878;
            border-radius: 6px;
            background: #2196F3 -webkit-gradient(linear, left top, left bottom, from(#42a6f5), to(#2196F3)) repeat-x;
            width: 99%;
            justify-content: center;
            align-items: center;

        }

        .table-secondary {
            border-top: 0px;
        }

        .table-task {
            margin: 5px;
            background-color: whitesmoke;

        }

        .content-wrapper {
            background-color: whitesmoke;
        }

        .projectheader {
            background-color: white;
        }

        .collapse {
            background-color: whitesmoke;
        }

        .table-active {
            background-color: whitesmoke;
        }
    </style>

    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">

        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="done">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseDone" aria-expanded="true"
                   aria-controls="collapseDone">
                    <h5 class="mb-0" style="font-size: 20px;color:rgb(68, 68, 68);">Done</h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseDone" class="collapse show" role="tabpanel" aria-labelledby="done"
                 data-parent="#accordionEx">
                <div class="card-body">
                    <table id="done" class="table table-secondary workspace-table">
                        <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Contractor</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Due date</th>
                            <th scope="col" class="text-right">Options</th>
                        </tr>
                        </thead>
                        <tbody class="table-task">
                        {% for task in tasks %}
                            <tr class="table-active">
                                {% if(task.status == 1) %}
                                    <td class="text-left">{{ task.task }}</td>
                                    <td class="text-left"> {{ task.contractor }}</td>
                                    {% if(task.priority == 1) %}
                                        <td class="pl-3"><p>Low <i class="material-icons priority-pointer-green">brightness_1</i>
                                            </p></td>
                                    {% elseif(task.priority == 2) %}
                                        <td class="pl-3"><p>Medium <i class="material-icons priority-pointer-yellow">brightness_1</i>
                                            </p></td>
                                    {% elseif(task.priority == 3) %}
                                        <td class="pl-3"><p>High <i class="material-icons priority-pointer-red">brightness_1</i>
                                            </p>
                                        </td>

                                    {% endif %}
                                    <td class="text-left">{{ task.dueDate|date('d-M-y') }}
                                    </td>
                                    <td>
                                        <ul class="nav nav-pills float-right">
                                            <li class="nav-item dropup dropleft">
                                                <a class="nav-link material-icon" style="padding:0px;,height:3px;"
                                                   data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                                   aria-expanded="false"><i class="material-icons "
                                                                            style="color:black;">more_horiz</i></a>
                                                <div class="dropdown-menu" style="">
                                                    <a class="dropdown-item"
                                                       href="/main/projects/deleteTask/{{ task.id }}">Delete</a>
                                                    <a class="dropdown-item"
                                                       href="/main/projects/deleteTask/{{ task.id }}">Update</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                </div>
            </div>

        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="inProgress">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseInProgress" aria-expanded="false"
                   aria-controls="collapseInProgress">
                    <h5 class="mb-0" style="font-size: 20px;color:rgb(68, 68, 68);"> In progress</h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseInProgress" class="collapse show" role="tabpanel" aria-labelledby="headingInProgress"
                 data-parent="#accordionEx">
                <div class="card-body">
                    <table id="InProgress" class="table table-secondary workspace-table">
                        <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Contractor</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Due date</th>
                            <th scope="col" class="text-right">Options</th>
                        </tr>
                        </thead>
                        <tbody class="table-task">
                        {% for task in tasks %}
                            <tr class="table-active">
                                {% if(task.status == 2) %}
                                    <td class="text-left">{{ task.task }}</td>
                                    <td class="text-left"> {{ task.contractor }}</td>
                                    {% if(task.priority == 1) %}
                                        <td class="pl-3"><p>Low <i class="material-icons priority-pointer-green">brightness_1</i>
                                            </p></td>
                                    {% elseif(task.priority == 2) %}
                                        <td class="pl-3"><p>Medium <i class="material-icons priority-pointer-yellow">brightness_1</i>
                                            </p></td>
                                    {% elseif(task.priority == 3) %}
                                        <td class="pl-3"><p>High <i class="material-icons priority-pointer-red">brightness_1</i>
                                            </p></td>
                                    {% endif %}
                                    <td class="text-left">{{ task.dueDate|date('d-M-y') }}</td>
                                    <td>
                                        <ul class="nav nav-pills float-right">
                                            <li class="nav-item dropup dropleft">
                                                <a class="nav-link material-icon" style="padding:0px;,height:3px;"
                                                   data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                                   aria-expanded="false"><i class="material-icons "
                                                                            style="color:black;">more_horiz</i></a>
                                                <div class="dropdown-menu" style="">
                                                    <a class="dropdown-item"
                                                       href="/main/projects/deleteTask/{{ task.id }}">Delete</a>
                                                    <a class="dropdown-item"
                                                       href="/main/projects/deleteTask/{{ task.id }}">Update</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingWaiting">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false"
                   aria-controls="collapseWaiting">
                    <h5 class="mb-0" style="font-size: 20px;color:rgb(68, 68, 68);">Waiting</h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingWaiting"
                 data-parent="#accordionEx">
                <div class="card-body">
                    <table id="Waiting" class="table table-secondary workspace-table">
                        <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Contractor</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Due date</th>
                            <th scope="col" class="text-right">Options</th>
                        </tr>
                        </thead>
                        <tbody class="table-task">
                        {% for task in tasks %}
                            <tr class="table-active">
                                {% if(task.status == 3) %}
                                    <td class="text-left">{{ task.task }}</td>
                                    <td class="text-left"> {{ task.contractor }}</td>
                                    {% if(task.priority == 1) %}
                                        <td class="pl-3"><p>Low <i class="material-icons priority-pointer-green">brightness_1</i>
                                            </p></td>
                                    {% elseif(task.priority == 2) %}
                                        <td class="pl-3"><p>Medium <i class="material-icons priority-pointer-yellow">brightness_1</i>
                                            </p></td>
                                    {% elseif(task.priority == 3) %}
                                        <td class="pl-3"><p>High <i class="material-icons priority-pointer-red">brightness_1</i>
                                            </p></td>
                                    {% endif %}
                                    <td class="text-left">{{ task.dueDate|date('d-M-y') }}

                                    </td>
                                    <td>
                                        <ul class="nav nav-pills float-right">
                                            <li class="nav-item dropup dropleft">
                                                <a class="nav-link material-icon" style="padding:0px;,height:3px;"
                                                   data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                                   aria-expanded="false"><i class="material-icons "
                                                                            style="color:black;">more_horiz</i></a>
                                                <div class="dropdown-menu" style="">
                                                    <a class="dropdown-item"
                                                       href="/main/projects/deleteTask/{{ task.id }}">Delete</a>
                                                    <a class="dropdown-item"
                                                       href="/main/projects/deleteTask/{{ task.id }}">Update</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}