{% extends 'base.html.twig' %}
{% block title %}Choose workspace{% endblock %}
{% block body %}
    <style>
        body {
            background-color: #f5f5f5;
        }

        .workspaces-wrapper {
            margin: 60px;
            margin-top: 80px;

        }

        .workspace-table {
            box-shadow: 0 0 2px #a5a3a3;

        }

        .th-style {
            background-color: #eaeaea !important;

        }

        .btn {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        }

        .table th {
            background: #2196F3 -webkit-gradient(linear, left top, left bottom, from(#42a6f5), to(#2196F3)) repeat-x;
            justify-content: center;
            align-items: center;
            color: white;
            border-top-width: 0px;
        }
    </style>
    <h1 class="text-center mt-5">Welcome {{ app.User.name }}!</h1>

    {% if workspaces %}
        <h4 class="text-center mt-2 mb-3">Choose your workspace.</h4>
        <div class=" workspaces-wrapper">
            <table id="workspace" class="table table-light workspace-table">
                <thead class="th-style">
                <tr>
                    <th scope="col">Workspace name</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                {% for domain in workspaces %}
                    <!-- table row -->
                    <tr>
                        <td>
                            {{ domain.domain }}
                        </td>
                        <td>
                            <!-- select workspace-->
                            <a href="/main/select/{{ domain.id }}/{{ domain.domain }}" class="btn btn-outline-primary">Select</a>
                            <!-- remove workspace modal trigger -->
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#removeModal-{{ domain.id }}">Delete
                            </button>
                        </td>
                    </tr>

                    <!-- remove-modal -->
                    <div class="modal fade" id="removeModal-{{ domain.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                </div>
                                <div class="modal-body">
                                    <a class="blockquote mt-3 mb-3">This action will remove workspace and all projects
                                        that
                                        it contains</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="/main/delete/{{ domain.id }}"
                                       class="btn btn-danger delete-workspace">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </table>
        </div>
    {% elseif not workspaces %}
        <div class="text-center">
            <h5>You dont have any workspaces.</h5>
            <!-- add workspace modal trigger -->
        </div>
    {% endif %}
    <div class="text-center">


    </div>
{% endblock %}
