{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {{ include('navbar.html.twig') }}

    {{ render(controller("App\\Controller\\WorkspaceController::showAction")) }}


    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">CREATE WORKSPACE
        </button>
    </div>
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create workspace</h5>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_row(form.domain) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ form_widget(form.create, { 'label': 'Create'}) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}